<nav class="navbar navbar-expand-sm ">

  <app-header class="w-100"></app-header>
</nav>
<div class="row  m-0 bgimg">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3 border-bottom-1">
    <app-userpage></app-userpage>

</div>
<div class="col-12 col-sm-12 col-md-8 col-lg-8 Create">


    <div class=" table-wrapper-scroll-y my-custom-scrollbar table userDetails ">

      <div class="border">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col"> Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
             
              <th scope="col">password</th>

              <!-- <th scope=" col ">Action</th> -->

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of user">


              <td>{{user.id}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              
              <td>{{user.password}}</td>

              <!-- <td>
                <button class="Edit btn-primary" routerLink="/userEdit/{{user.id}}">Edit</button>

              </td> -->
              
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
  </div>

  
