<nav class="navbar">
    <ul class="navbar-nav justify-content-between sidebar-list">
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/group"><span style="color: antiquewhite;"> Create Group</span></button>
        </li>


        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnGrpList" routerLink="/grouplist"><span style="color: antiquewhite;"> Group List</span></button>

        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserGroupList" routerLink="/user-group"><span style="color: antiquewhite;"> User Group</span></button>
        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserList" routerLink="/userlist"><span style="color: antiquewhite;"> User List</span></button>
        </li>

    </ul>
</nav>
