<br><br>
<div>
<table class='table table-bordered ' id="p5" >
		<tr>
			<th id="p4">Standard</th>
			<th id="p4">Institute</th>
			<th id="p4">Board</th>
			<th id="p4">Year of Passing</th>	
			<th id="p4">Percentage</th>	
		</tr>
		<tr id="sd">
			<td>M.C.A</td>
			<td>sppu</td>
			<td> pune univ</td>
			<td> 2020 </td>
			<td> Appearing</td>	
		</tr>
		<tr id="sd">
			<td>B.C.S</td>
			<td>New arts</td>
			<td>pune univ</td>
			<td>2017</td>
			<td>65.69</td>
		</tr>
		<tr id="sd">
			<td>H.S.C</td>
			<td>shri Tilok</td>
			<td>State Board</td>
			<td>2014</td>
			<td>69.00</td>
		</tr>	
		<tr id="sd">
			<td>S.S.C</td>
			<td>shri tilok</td>
			<td>State Board </td>
			<td>2012</td>
			<td>83.38</td>
		</tr>			
		</table>
		<br>
		<br>
</div>