<!--<nav class="navbar1 navbar-expand-sm ">

  <app-header class="w-100"></app-header>
</nav>
<div class="row m-0 bgimg">
  <div class="col-lg-3 border-bottom-1">-->
    
    <nav class="navbar">
    <ul class="navbar-nav justify-content-between sidebar-list">
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/userinfo"><span style="color: antiquewhite;"> User Info</span></button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/user-groupinfo"><span style="color: antiquewhite;"> Group</span></button>
        </li>

 
    </ul>
</nav>


  