.sidebar-list{
    margin: 30px 0px;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,41,89,1) 100%, rgba(0,212,255,1) 100%);
     */
}
.btnGroup ,.btnGrpList,.btnUserGroupList,.btnUserList{
    margin-bottom: 15px;

}
.navbar{
    background: rgb(2,0,36,0.08);    
}
.btnGrpList
{
    padding-right: 41px;
}
.btnUserGroupList{
    padding-right: 35px;
}
.btnUserList{
    padding-right: 55px;
}
