<!--<mat-toolbar style="background-color: #C2185B;" color="primary">
  <div style="
  height: 60px;"></div>
<button mat-button routerLink="/create-user"><span class="material-icons">
  
    </span>Create User</button>
    <button  mat-button routerLink="/home"><span class="material-icons">
  
    </span>Home</button>
    <button  style="margin-left: 900px;" mat-button routerLink="/login"><span class="material-icons">
  
    </span>Logout</button>
</mat-toolbar>-->
<ul class="navbar-nav justify-content-between">
    <li class="nav-item">
      <a class="nav-link homeLink " routerLink="/create-user">CreateUser</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link logout" routerLink="/login">Logout</a>
    </li>

  </ul>