<nav class="navbar navbar-expand-sm ">

  <app-header class="w-100"></app-header>
</nav>

<div class="row  m-0 bgimg">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3 border-bottom-1">
    <app-side-component></app-side-component>

  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5 Create">

    <!-- <div class="col-lg-3 border-bottom-1">
    <app-side-component></app-side-component>

  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-5 Create"> -->

    <h5>Create Group </h5>

    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="grupdata.group_name" placeholder="group_name">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="grupdata.group_info" class="form-control" placeholder="group_info">
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success btnCreatgrp" (click)="onSubmitCreate()">Create</button>
      </div>

      <div class="col">
        <button type="button" class="btn btn-danger btnResetgrp" routerLink="/homepage">Cancel</button>
      </div>


    </div>
  </div>
</div>
<!--
<mat-label style= "font-size:20px;">Create New Group...!</mat-label>
  
<form class="example-form" [formGroup]="registerForm">

  <mat-form-field class="example-full-width">
        
    <mat-label>Group Name</mat-label>
    <input matInput name="group_name" formControlName="group_name" maxlength="100" required>

    
    <mat-error *ngIf="group_name.hasError('required')">
      <strong>Groupname is required</strong>

    </mat-error>

  </mat-form-field>
<br>
 <mat-form-field class="example-full-width">
    <mat-label> Group_Info</mat-label>
    <input matInput name="group_info" placeholder="Group_Info" formControlName="group_info" maxlength="100" required>

    <mat-error *ngIf="group_info.hasError('required')">
      <strong>Group_Info is required</strong>
    </mat-error>
  </mat-form-field>
  <br>



  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <button style="margin-left: 50px;" class="temp" name="save" mat-raised-button color="primary"
    [disabled]="!registerForm.valid" (click)="onSubmit()">Create</button>
  <button routerLink="/" style="margin-left: 30px;" mat-raised-button color="primary"
     (click)="onSubmit()">Cancel</button>
</form>-->
