

<header>  

  
  <a routerLink="/contact-info" routerLinkActive="active">Contact_Info</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/career-objective" routerLinkActive="active">Carrer_Objective</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/education-details" routerLinkActive="active">Education_Details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/academic-activity" routerLinkActive="active">Academic_Activity</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/technical-skills" routerLinkActive="active">Technical_Skills</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <a routerLink="/strength" routerLinkActive="active">Strength</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/personal-info" routerLinkActive="active">Personal_Info</a>
</header>



<router-outlet></router-outlet> 